@import "tailwindcss";


@theme {
  --color-primary: #00140a;
  --color-secondary: #1C1C1C;
  --color-tertiary: #2A2A2A;
  --color-accent-green-light: #00E870;
  --color-accent-green: #00cc63;
  --color-accent-green-dark: #00b356;
  --color-text-light: #ffffff;

  --font-vt323: var(--font-vt323);
}


::selection {
  background-color: #052f2e;
  color: #2dd4c0;
}